<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../js/client/jquery-3.4.1.min.js"></script>
</head>
<body>
    <h1>Show item details</h1>
    <img id="itemImg">
    <br><br>
    <span class="detailsHeader">Name: </span><span id="nameTxt"></span>
    <br>
    <span class="detailsHeader">Cost: $</span><span id="costTxt"></span>
    <br>
    <span class="detailsHeader">Type: </span><span id="typeTxt"></span>
    <br>
    <span class="detailsHeader">Description: </span><span id="descriptionTxt"></span>
    <br>
    <span class="detailsHeader">Country: </span><span id="countryTxt"></span>
    <br>
    <span class="detailsHeader">Expiry Date: </span><span id="expiryDateTxt"></span>
    <br><br>
    <p><button onclick="return addItem()">Add</button>
        <button onclick="return removeItem()">Remove</button>
        <button onclick="return clearAll()">Clear All</button>
    </p>
    <script src="../js/client/cartDetails.js"></script>
</body>
</html>